body {
	background-color: #B2E9FD;
}

.header h2 {
	color: #DC4247;
}

.header p {
	color: #50524F;
}

.movie-rel-date {
	background-color: grey;
	color: #ffffff
}

.results {
	margin-top: 20px;
}

.movies-container{
    margin: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-content: space-between; */
}

.card {
	margin: 10px;
}
